{% extends ':default:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var vatryLat = 48.780441;
        var vatryLng = 4.191239;
        var intervilleMap = null;

        var chalon = [
            {
                name: 'Château Thierry',
                lat: 49.038362,
                lng: 3.409571
            },
            {
                name: 'Vitry-le-François',
                lat: 48.718213,
                lng: 4.586729
            },
            {
                name: 'Bar-le-Duc',
                lat: 48.775134,
                lng: 5.164926
            },
            {
                name: 'Saint-Dizier',
                lat: 48.642716,
                lng: 4.947899
            },
            {
                name: 'Chaumont',
                lat: 48.7346554,
                lng: 2.3921195
            },
            {
                name: 'Langres',
                lat: 47.877026,
                lng: 5.344387
            }
        ];

        var reims = [
            {
                name: 'Champagne Ardennes TGV',
                lat: 49.215086,
                lng: 3.994701
            },
            {
                name: 'Sedan',
                lat: 49.695215,
                lng: 4.930570
            },
            {
                name: 'Charleville-Mézières',
                lat: 49.767995,
                lng: 4.724936
            },
            {
                name: 'Laon',
                lat: 49.570196,
                lng: 3.625003
            },
            {
                name: 'Metz',
                lat: 49.109975,
                lng: 6.177160
            },
            {
                name: 'Luxembourg',
                lat: 49.600042,
                lng: 6.133946
            }
        ];

        var gares = [
            {
                name: 'Châlons-en-Champagne',
                lat: 48.955447,
                lng: 4.348123
            },
            {
                name: 'Reims',
                lat: 49.359419,
                lng: 4.143906
            }
        ];


        var duo = [
            {
                name: 'Epernay',
                lat: 49.046482,
                lng: 4.059739
            },
            {
                name: 'Paris',
                lat: 48.876798,
                lng: 2.209113
            },
            {
                name: 'Nancy',
                lat: 48.690065,
                lng: 6.174491
            }
        ];


        $(function () {

            intervilleMap = new GMaps({
                div: "#interville-map",
                lat: 48.907466,
                lng: 3.466182,
                zoom: 7
            });

            intervilleMap.addMarker({
                lat: vatryLat,
                lng: vatryLng,
                title: 'Aéroport Paris-Vatry',
                icon: '/app/images/airportIcon.png'
            });


            $.each(chalon,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/trainred.png'
                    //icon: '/app/images/tgv.png'
                });
            });

            $.each(reims,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/trainblue.png'
                    //icon: '/app/images/tgv1.png'
                });
            });

            $.each(duo,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/trainduo.png'
                    //icon: '/app/images/tgv1.png'
                });
            });

            $.each(gares,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/steamtrain.png'
                    //icon: '/app/images/tgv1.png'
                });
            });

        })
    </script>
{% endblock %}

        {% block main %}
            <style>
                .bordered-left {
                    border-left: solid 1px #DDDDDD;
                }

                .bordered-bottom {
                    border-bottom: solid 1px #DDDDDD;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .map-container {
                    width: 100%;
                    height: 385px;
                    margin-top: 40px;
                    padding: 10px;
                    background-color: white;
                }
                .aggro-name{
                    height: 40px;
                }
                .aggro-name:hover{
                    cursor: pointer;
                    background-color: #ececec;
                }

                h2 {
                    font-size: 24px;
                    padding: 0 0 28px;

                }
                ul > li:before {
                    content: "\2022";
                    font-size: 30px;
                    color: #DBBC94;
                    position: absolute;
                    /* top: -10px; */
                    left: 0;
                }
                h2, h3, h4{
                    line-height: 40px;
                }
                div{
                    padding-bottom: 20px;
                }
                .container h1{
                    padding-left: 40px ;
                }
            </style>

            <!-- Page info -->
            <header class="site-title color">
                <div class="wrap">
                    <div class="container">
                        <h1>Navettes partagées de Porte à Porte</h1>
                        <nav role="navigation" class="breadcrumbs">
                            <ul>
                                <li><a href="{{ path('homepage') }}" title="Accueil">Accueil</a></li>
                                <li>Navettes partagées de Porte à Porte</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- //Page info -->


            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="col-xs-6">
                    <div class="map-container" >
                        <div style="width: 100%; height: 100%;" id="interville-map">

                        </div>
                    </div>
                </div>
            </div>



        {% endblock %}