{% extends '@App/Back/Statistics/PieChart.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collapse2').collapse();
            $('#collapse2title').addClass('highlightLi');
            $('#ndc_p1c').addClass('highlightLi');
        });
    </script>
{% endblock %}
{% block onglet_title %} Nombre des commandes par nombre de personnes dans une seule commande {% endblock %}
{% block table %}
    {% if total!=0 %}
        <div class="panel panel-default withPadding" id="tzone">
            <table id="StatTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Nombre de passagers</th>
                </tr>
                </thead>
                <tbody>
                {% for t in transfers %}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td> {{ t.date|date('d/m/Y H:i') }}</td>
                        <td>{{ t.qty+t.qtyChild+t.qtyBaby }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}