Bonjour,<br><br>

Votre compte partenaire au nom de {{ partner.name }} a été bien crée.<br>
Pour accéder à votre espace, veuillez cliquer <a href="{{ url('login') }}">ici</a><br>
Vos données de connexion sont :<br>
Nom d'utilisateur: {{ user.email }}<br>
Mot de passe: <b>{{ password }}</b><br>
<br>
Cordialement,<br>
Equipe Vatry