Mr/Mme <strong>{{ client_name }}</strong> <br>
Nous avons bien reçu votre demande de transfert. <br>
Nous vous remercions pour votre demande et nous vous invitons de cliquer sur le <br>
lien suivant afin de valider et enregistrer votre commande : <br>
<a href="{{ url('command_particular_second_step', {'transfer': transfer.id}) }}">Commander</a>
