<body>

<h3>Mot de passe réinitialisé</h3>

Bonjour {{ user.person.civility }} {{ user.person.name }} {{ user.person.lastname }}<br>

Votre mot de passe est réinitialisé avec succès.<br>
Votre MDP est {{ password }}<br>

<br><br>
Cordialement<br>
Le service client de navette de Vatry

</body>