<style>
    {% include '@App/pdf/voucher_style.css.twig' %}
</style>

<!-- Main -->
<div class="body home">
    <div class="main" role="main">

        <!-- Services iconic -->
        <div class="services iconic white">
            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="three-fourth wow fadeIn color ">
                        <div class="entet">Confirmation : votre commande de transfert n°</div>
                    </div>
                    <!-- //Item -->


                    <!-- Item -->
                    <div class="one-fourth wow fadeIn" data-wow-delay=".4s">
                        <img src="{{ asset('app/images/transfers.jpg',null,true) }}" alt="Transfers"/>
                    </div>
                    <!-- //Item -->


                </div>

            </div>
            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn">
                        <div><strong>Contact</strong> Tél : +33(0)984530589 - Email : contact@navettevatry.fr</div>
                        <br>
                    </div>
                    <!-- //Item -->
                </div>
            </div>

            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn">
                        <div>Monsieur/Madame/Mademoiselle, Nom et prénom du client,</div>

                        <div>Nous avons le plaisir de vous confirmer votre prestation de transfert commandée en ligne/
                            auprès de l’agence de voyage XYZ &agrave; la date du …./…./………..
                        </div>

                    </div>
                    <!-- //Item -->
                </div>
            </div>

            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn color">
                        <div class="entet">Prestation de transfert Privé</div>
                    </div>
                    <!-- //Item -->

                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div class="more">Récapitulatif du transfert commandé :</div>
                        <br>

                        <div>Circuit :</div>
                        <br>
                        <ul>
                            <li>Lieu de prise en charge : Selon presta</li>
                            <li>Lieu de destination : Selon presta</li>
                        </ul>
                        <div>Trajet :</div>
                        <br>
                        <ul>
                            <li>Aller/Retour ou Aller simple</li>
                        </ul>
                    </div>
                    <!-- //Item -->
                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div class="more">pour le nombre de passagers suivant :</div>
                        <br>
                        <ul>
                            <li>Adultes</li>
                            <li class="barre">Enfants</li>
                            <li class="barre">Bébé</li>
                        </ul>
                    </div>
                    <!-- //Item -->
                </div>
            </div>

            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn color">
                        <div class="entet">Détails du rendez-vous : ALLER</div>
                    </div>
                    <!-- //Item -->

                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div class="more">Transfert Aller * :</div>
                        <br>
                        <ul>
                            <li>Date du transfert : jj/mm/aaaa</li>
                            <li>Heure du RDV :selon presta</li>
                            <li>Lieu de RDV : selon presta,</li>
                        </ul>
                        <div><strong>* Ce transfert est associé au vol N° VLG6254 de provenance/destination Ville prévu
                                pour le jj/mm/aaaa &agrave; hh :min /</strong></div>
                    </div>
                    <!-- //Item -->
                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div>Un chauffeur vous attendra avec la pancarte suivante :</div>
                        <br>

                        <div>
                            <img src="{{ asset('app/images/thumbnail_pancarte.jpg',null,true) }}" alt="Transfers"/>
                        </div>
                    </div>
                    <!-- //Item -->

                </div>
            </div>

            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn color">
                        <div class="entet">Détails du rendez-vous : RETOUR</div>
                    </div>
                    <!-- //Item -->

                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div class="more">Transfert Retour ** :</div>
                        <br>
                        <ul>
                            <li>Date du transfert : jj/mm/aaaa</li>
                            <li>Heure du RDV :selon presta</li>
                            <li>Lieu de RDV : selon presta,</li>
                        </ul>
                        <div><strong>** Ce transfert est associé au vol N° VLG6255 de provenance/destination Ville prévu
                                pour le jj/mm/aaaa &agrave; hh :min /</strong></div>
                    </div>
                    <!-- //Item -->
                    <!-- Item -->
                    <div class="one-half wow fadeIn">
                        <br>

                        <div>Un chauffeur vous attendra avec la pancarte suivante :</div>
                        <br>

                        <div>
                            <img src="{{ asset('app/images/thumbnail_pancarte.jpg',null,true) }}" alt="Transfers"/>
                        </div>
                    </div>
                    <!-- //Item -->

                </div>
            </div>
            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn">
                        <!--<div><a href="javascript:window.print()"><img src="icon_imprimer.png" alt="Transfers" /></a></div>-->
                        {#<div><a href="imp.html"><img src="icon_imprimer.png" alt="Transfers" /></a></div>#}
                    </div>
                    <!-- //Item -->

                </div>
            </div>
            <div class="wrap">
                <div class="row">
                    <!-- Item -->
                    <div class="full-width wow fadeIn">
                        <div class="more" style="text-align: justify;">La présente confirmation est &agrave; imprimer et &agrave;
                            présenter au conducteur &agrave; bord du véhicule et lors de tout contrôle durant le chemin du
                            transfert. Les conditions générales de ventes seront également imprimées avec ce Voucher
                            portant votre nom, prénom et numéro de commande affirmant ainsi que vous ayez pris
                            connaissance et approuvé nos CGV.
                        </div>
                    </div>
                    <!-- //Item -->

                </div>
            </div>
        </div>
        <!-- //Services iconic -->


    </div>
    <!-- //Main -->
</div>
