{% extends ':default:index.html.twig' %}

        {% block main %}
            <div class="col-xs-6 col-xs-offset-3">
                {{ form_start(form) }}

                <div class="row">
                    <label for="username">E-mail</label>
                    {{ form_widget(form.email,{ 'attr' : { 'class' : 'form-control' } }) }}
                </div>

                <input type="submit" class="btn btn-success btn-block" value="Réinitialiser">

                {{ form_end(form) }}
            </div>
        {% endblock %}