<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-ok"></span> Votre inscription a été effectuée avec succès. Merci de consulter vote boite e-mail afin de retrouver votre
    identifiant et votre mot de passe
</div>
