{% extends '::base.html.twig' %}

{% block logo %}

    <a href="{{ path('homepage') }}" title="Transfers"><img
                src="{{ asset('app/images/logo.jpg') }}" width="80px" alt="Navettes Aéroport Paris Vartry"/></a>

{% endblock %}

{% block main_block %}

    <style>
        body {
            padding-top: 100px;
        }

        div {
            font-family: Raleway, Arial, Helvetica, sans-serif;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            word-wrap: break-word;

        }

        .text-justify {
            text-align: justify;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {

            padding-right: 16px;
        }

        li:before {

            content: "•" !important;
            padding-right: 5px !important;
            font-size: 39px;
            color: #DBBC94;
            position: absolute;
            margin-left: -16px;
            font-size: 25px;

        }

        .space{

            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 29px;

        }

        .rspace {
            padding-right: 16px;

        }

        .rspace:before {

            content: "-" !important;
            padding-right: 5px !important;
            font-size: 39px;
            color: #DBBC94;
            position: absolute;
            margin-left: -16px;
            font-size: 39px;
        }

        .txt {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 29px;

        }

        .form {
            padding-right: 16px;

        }

        .form:before {

            content: "-" !important;
            padding-right: 5px !important;
            font-size: 39px;
            color: #DBBC94;
            position: absolute;
            margin-left: -16px;
            font-size: 39px;
        }


    </style>
    <!-- Page info -->
    <!-- Main -->
    <main class="main" role="main">
        <!-- Page info -->
        <header class="site-title color">
            <div class="wrap">
                <div class="container">
                    <h1>Conditions Générales de Vente</h1>
                    <nav role="navigation" class="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('homepage') }}" title="Accueil">Accueil</a></li>
                            <li>CGV</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!-- //Page info -->


        <div class="wrap">
            <div class="row">

                <!--- Content -->
                <div class="full-width content textongrey">
                    <h2>I. Introduction</h2><br><br>
                    <div><p class="text-justify">Dans le cadre d’une convention entre l’aéroport Paris Vatry et la
                            société Navette de Vatry, Société par Actions Simplifiées de Capital 40.000 €, immatriculée
                            au Registre de Commerce de Châlons – en – Champagne sous numéro 815356902 et domiciliée à la
                            SEVE Aéroport Paris Vatry, rue Louis Blériot CS 90006 Bussy Lettrée 51555
                            Chalons-en-Champagne Cedex, il a été confié à cette dernière pour l’organisation et le
                            développement des transferts terrestres à partir et vers l’aéroport Paris Vatry.</p></div>
                    <div><p class="text-justify">La SAS Navette de Vatryest inscriteau code des activités des agences de
                            voyage. Toutes les prestations terrestres contactées avec la société Navette de Vatry sont
                            assurées par des transporteurs partenaires. De ce fait, la société Navette de Vatry agit en
                            tant qu’intermédiaire entre le client et le transporteur assurant son service de transfert à
                            partir ou à destination de l’aéroport paris Vatry.</p></div>
                    <br><br>
                    <h2>II. Objet</h2>
                    <br><br>
                    <div><p class="text-justify">Les présentes Conditions Générales de Vente définissent les relations
                            contractuelles entre la SAS Navette de Vatry et ses clients. Ces conditions Générales
                            s’appliquent sur toutes les prestations achetées auprès de la SAS Navette de Vatry.
                            L’acceptation de ces Conditions Générales représente un préalable à toute validation des
                            commandes effectuée par le client via le site www.navettevatry.fr. Par téléphone ou dans les
                            locaux des agences, le client doit être informé de ces conditions avant l’achat de toute
                            prestation commandée auprès de la SAS Navette de Vatry.</p></div>
                    <br><br>
                    <h2>III. Définitions</h2>
                    <br><br>
                    <ul>
                        <li>CGV : Conditions Générales de Vente</li>
                        <li>NDV : SAS Navette de Vatry</li>
                        <li>Comptoir NDV : Comptoir de réservation pour le compte de NDV situé à l’intérieur de
                            l’aérogare de l’aéroport Paris Vatry
                        </li>
                        <li>Agences partenaires : Ce sont les agences de voyages, les Tour-Opérateurs et les compagnies
                            aériennes ayant contracté avec NDV en vue de vendre ses prestations terrestres.
                        </li>
                        <li>Agent de réservation : Tout agent du comptoir de NDV ou des agences partenaires, habilité à
                            effectuer des réservations pour le compte de NDV
                        </li>
                        <li>Passager : Toute personne utilisant les services des transferts terrestres de NDV</li>
                        <li>Client : Toute personne physique ou morale ayant commandé un ou de plusieurs services de
                            NDV
                        </li>
                        <li>Compte client :La création préalable d'un compte client est obligatoire pour passer une
                            commande. La création du compte s'effectue en ligne sur les sites de NDV, de celui de
                            l’aéroport Paris Vatry et des agences partenaires. Le compte permet au client une saisie
                            rapide des commandes, le suivi de ses commandes en cours et l’accès aux offres
                            promotionnelles de NDV.La création d’un compte se fait par la génération d’un identifiant
                            personnel et d’un mot de passe confidentiel. Le client s'engage à fournir des informations
                            exactes lors de la création de son compte et, en cas de modification, à les mettre à jour
                            sans délai. Il sera seul responsable des conséquences de l'inexactitude des informations
                            fournies.
                        </li>
                        <li>Formulaire de réservation : Un ensemble de champs à remplir par le client ou par l’agent de
                            réservation permettant de fournir à NDV les précisions nécessaires concernant la prestation
                            commandée ainsi que les informations des passagers et des moyens de payement.
                        </li>
                        <li>Transporteur : Tout opérateur assurant les transferts commandés par les clients de NDV</li>
                        <li>Prestations terrestres : Ce sont les services de transfert proposés par NDV. Les prestations
                            terrestres proposées par NDV sont :
                        </li>

                        <ul class="txt">
                            <li class="form">Transfert privé : Transfert privatif de Porte à Porte, individuel ou
                                groupe.
                            </li>
                            <li class="form">Navette de correspondance de la Gare de Châlons-en-Champagne : Relais
                                terrestre entre la Gare de Châlons-en-Champagne et l’aéroport Paris Vatry
                            </li>
                            <li class="form">Navette de correspondance de la Gare de Reims : Relais terrestre entre la
                                Gare de Reims et l’aéroport Paris Vatry
                            </li>
                            <li class="form">Navette partagée Inter-Ville : Transfert avec d’autres passagers dans des
                                bus ou des mini bus traversant des grandes villes en direction ou en provenance de
                                l’aéroport Paris Vatry.
                            </li>
                            <li class="form">Navette partagée de Porte à Porte : Transfert partagé avec d’autres
                                passagers, à partir ou à destination du domicile ou du lieu de travail du client.
                            </li>
                        </ul>
                        </li>
                        <br>
                        <li>Réservation en ligne : Réservation validée et payée via le site web de NDV ou via les
                            supports de vente en ligne des agences partenaires. La réservation est validée après
                            validation du payement
                        </li>
                        <li>Réservation via l’agence : Réservation via le comptoir de NDV ou via l’une des agences
                            partenaires
                        </li>
                        <li>Réservation confirmée : Consiste au remplissage du formulaire de réservation par le client,
                            son acceptation des CGV.
                        </li>
                        <li>Réservation validée : Toute réservation confirmée par le client et validée par NDV après
                            validation du payement du montant de la commande
                        </li>
                        <li>Réservation en option. Commande enregistrée en option et annulable sans frais par les deux
                            parties (le client et NDV) selon les conditions précisées dans l’article V.
                        </li>
                        <li>Réservation last minute : Ce sont des commandes pouvant être confirmée et validée jusqu’à la
                            dernière minute de l’heure prévue pour la réalisation de la prestationselon les conditions
                            détaillées dans l’article V.
                        </li>
                        <li>Voucher : C’est le document à présenter à bord du véhicule ou lors de tout contrôle effectué
                            par NDV. Il contient toutes les informations relatives aux passagers et aux détails du
                            transfert commandé par le client.
                        </li>
                    </ul>
                    <br><br>
                    <h2>IV. Application des CGV</h2>
                    <br><br>
                    <div><p class="text-justify">Les présentes Conditions générales de Vente s'appliquent sans
                            restriction ni réserve à tout achat effectué sur le site navettevatry.fr, en agence
                            partenaire, via le comptoir de NDV et à bord des véhicules.</p></div>
                    <div><p class="text-justify">L’acceptation en ligne des présentes CGV est matérialisée par une case
                            obligatoire à cocher par le client avant la validation de sa commande en certifiant en avoir
                            connaissance.
                            Les agences partenaires ainsi que les conducteurs des véhicules assurant les prestations de
                            transfert sont tenus à mettre les CGV à disposition des clients pour consultation avant
                            l’achat d’un transfert (en agence ou à bord du véhicule). Pour les commandes prises par
                            téléphone, les agents de réservation sont tenus à expliquer oralement les CGV aux clients
                            avant la confirmation de leurs transferts.
                    </div>
                    </p><br><br>
                    <h2>V. Prise des commandes</h2>
                    <br><br>
                    <ul>
                        <li>Commandeeffectuéeen ligne : Le client choisi l’un des services proposés par NDV et
                            sélectionne l’itinéraire voulu, rempli les détails de son transfert, les informations des
                            passagers ainsi que les informations de facturation.
                        </li>
                    </ul>
                    <div><u>Processus de validation d’une commande validée en ligne :</u>
                        <p class="text-justify"> La réservation de la commande est effectuée par le client en ligne. Le
                            contrôle de la validité de la carte bancaire est effectué immédiatement par la banque et le
                            payement de la transaction est ensuite effectué par débit de cette carte pendant les 24
                            heures suivant la validation de la commande. Le client sera ainsi informé dans un premier
                            temps de la validité de sa carte et recevra, par mail, sa confirmation définitive de la part
                            de NDV contenant les détails de la prise en charge dans un délai de 24 heures après la
                            validation de sa commande. L'utilisation d'une carte bancaire valide est nécessaire pour la
                            prise d’une commande en ligne. Le transfert des données bancaires est sécurisé.</p></div>
                    <ul>
                        <li>Commande via un compte client : le client suit les étapes de prise d’une commande directe en
                            ligne mais sans le remplissage des informations de facturation.
                        </li>
                        <li>Commandeeffectuée via l’agence : Le client choisi l’un des services proposés par NDV et
                            sélectionne l’itinéraire voulu, fournit à l’agent de réservation les détails du transfert et
                            les informations des passager, et règle la totalité du montant de la commande.
                        </li>
                    </ul>
                    <div><u>Processus de validation d’une commande effectuée via l’agence :</u>
                        <p class="text-justify">La réservation de la commande est effectuée par l’Agent de réservation.
                            Le client effectue la totalité du payement de la commande et récupère de l’agent un document
                            de confirmation contenant les détails de la prise en charge et du transfert. Le client
                            reçoit instamment un mail contenant une version électronique de sa confirmation.</p></div>
                    <ul>
                        <li>Commande en option : Ce type de commande est valable pour les services des Navettes
                            partagées de Porte à Porte et des Navettes partagées Inter-Villes. Elle n’est confirmée par
                            NDV que si le seuil minimal de remplissage de la navette est atteint. Les conditions de ce
                            type de commande est comme suit :
                        </li>
                        <ul class="space">
                        <li class="rspace">Le client sélectionne son itinéraire, saisi les détails du transfert et les informations des
                            passagers et enregistre sa commande en option.
                        </li>
                        <li class="rspace">Pour pouvoir enregistrer la commande, le client est tenu à remplir les informations de la
                            carte bancaire de laquelle sera débitée la carte bancaire en cas de confirmation de la
                            commande par NDV. Le contrôle par la banque de la validité de la carte est préalable à la
                            confirmation de l’enregistrement de la commande en option.
                        </li>
                        <li class="rspace">Le client se réserve le droit d’annuler sa commande jusqu’à J - 4 (quatre jours avant la
                            date de réalisation de son transfert).
                        </li>
                        <li class="rspace">L’annulation ou la confirmation de la commande se fait à J – 3 (trois jours avant la date de
                            réalisation de son transfert).Le paiement de la commande est effectué par le débit de la
                            carte bancaire du client du montant total de la transaction et se fait préalablement à toute
                            confirmation. Autrement, la commande du client est systématiquement annulée même si la
                            condition du seuil de remplissage de navette est remplie.
                        </li>
                        <li class="rspace">Le client est informé par mail et dans certains cas par message téléphonique et par
                            téléphone de la confirmation ou de l’annulation de sa commande.
                        </li>
                        <li class="rspace">NDV est tenue à justifier l’annulation de la commande (non atteinte du seuil de remplissage
                            de la navette ou payement refusé par la Banque)
                        </li>
                        <li class="rspace">En cas d’annulation pour refus du payement par la banque, le client sera contacté par les
                            services de NDV et sera proposé au client un délai de 6 heures afin d’effectuer et confirmer
                            la même commande moyennant un payement immédiat du montant de la transaction.
                        </li>
                        <li class="rspace">En cas d’annulation pour non atteinte du seuil de remplissage, des solutions alternatives
                            pour accéder à l’aéroport seront proposées par NDV au client.
                        </li>
                        <li class="rspace">Les détails de la carte bancaire communiqués par le Client lors de la Réservation doivent
                            être valides entre la date de Réservation et la date de confirmation
                        </li>
                        <li class="rspace">En précisant ses coordonnées bancaires, le Client accepte expressément que NDV débite le
                            compte du Prix final à la confirmation du transfert, sans qu’une autre approbation du Client
                            soit nécessaire. Si la carte bancaire n'est pas ou plus valide, le compte du Client sera
                            bloqué.
                        </li>
                            </ul>


                    <li>Commande par téléphone : Une permanence téléphonique est à la disposition des clients pour
                        renseigner les clients sur les services proposés et sur les conditions générales de vente. Le
                        client peut réserver et confirmer une commande après avoir effectué le payement en communiquant
                        les informations de sa carte bancaire.
                    </li>
                    <li>Commande last minute : Ces commandes peuvent être effectuées en ligne, auprès des agents du
                        comptoir NDV etdes agences partenaires ou directement auprès du conducteur du véhicule. Les
                        services accessibles en last minute représentent une partie restreinte des prestations de NDV
                        selon les disponibilités offertes. Toutes les commandes effectuées en last minute peuvent être
                        effectuées en ligne ou via les agences et sont des commandes fermes non modifiables et non
                        annulables.
                    </li>
                    </ul>
                    <br><br>
                    <h2>VI. Tarifs</h2>
                    <br><br>
                    <div><p class="text-justify">Le tarif dépend de la nature et de la distance de la prestation
                            demandée. Préalablement à toute confirmation d’une commande, le client obtient en ligne ou
                            via l’agence le tarif de la prestation demandée. Il suffit de renseigner la nature du
                            transfert demandé, le trajet et le nombre de personnes pour obtenir le tarif. Les tarifs
                            sont indiqués en Euros, toutes taxes comprises (TTC) au taux de TVA légal en vigueur.</p>
                    </div>
                    <br><br>
                    <h2>VII. Enfants et mineurs</h2>
                    <br><br>
                    <div><p class="text-justify">Tout enfant de moins de 12 ans doit voyager sur une place assise et
                            sous la responsabilité d'un adulte. Les bébés âgés de moins de 3 ans voyagent dans des
                            sièges enfant adaptés jeunes enfants entre 0 et 3 ans ne peuvent voyager que dans des sièges
                            enfant adaptés fixés durant tout le trajet à l'aide de ceintures de sécurité à deux
                            points.</p></div>
                    <br><br>
                    <h2>VIII. Horaires</h2>
                    <br><br>
                    <div><p class="text-justify">L’heure du rendez-vous est mentionnée dans le document de confirmation
                            du transfert. Les critères de fixation des horaires sont définis selon le sens et la nature
                            de la prestation commandée comme suit : </p></div>
                    <ul>
                        <li>Pour tous les transferts dont la prise en charge est à l’aéroport Paris Vatry : Rendez-vous
                            à 30 minutes après l’arrivée du vol.
                        </li>
                        <li>Pour les transferts à destination de l’aéroport Paris Vatry :</li>
                    </ul>
                    <div><p class="text-justify">Dans le cas d’un transfert privé : Le client choisi lui-même l’heure du
                            rendez-vous et il est invité à tenir compte de la durée du trajet pour se présenter à
                            l’aéroport Paris Vatry.</p></div>
                    <div><p class="text-justify">Dans le cas de tous les autres types de transfert : C’est NDV qui
                            précise lors de la confirmation du transfert au client l’heure exacte de prise en
                            charge.</p></div>
                    <br><br>
                    <h2>IX. Prise en charge des passagers.</h2>
                    <br><br>
                    <div><p class="text-justify">Le lieu de prise en charge est précisé lors du processus de réservation
                            de la commande et mentionné dans le document de confirmation du transfert.</p></div>
                    <div><p class="text-justify">Le passager est tenu de se présenter sur le lieu du rendez-vous 10
                            minutes avant le départ du véhicule. En cas de retard du passager après l’heure du
                            rendez-vous le transfert n’est plus garanti ni remplacé. Aucun remboursement n’est prévu
                            dans ce cas de figure.</p></div>
                    <div><p class="text-justify">Pour monter à bord du véhicule, le passager est tenu de présenter le
                            document de confirmation de son transfert édité par le site en ligne lors de la confirmation
                            ou fourni par l’agent de réservation.</p></div>
                    <br><br>
                    <h2>X. Conditions d’annulation et de modification d’une commande</h2>
                    <br><br>
                    <div><p class="text-justify">En application des articles L. 121-16-1 et L. 121-21-8 du Code de la
                            consommation les services de transport des passagers ne sont pas soumis à l'application du
                            droit de rétractation prévu aux articles L. 121-20-12 et suivants du Code de la consommation
                            en matière de vente à distance.</p></div>
                    <div><p class="text-justify">Pour effectuer une modification d’une commande, le client doit annuler
                            la commande initiale et saisir une nouvelle.</p></div>
                    <div><p class="text-justify">Les conditions d’annulation et de modification des prestations offertes
                            par NDV sont comme suis :</p></div>
                    <ul>
                        <li>Jusqu’au jour J – 4 de la réalisation de la prestation : Annulation possible. La commande
                            est totalement remboursable *
                        </li>
                        <li>Du jour J – 3 au jour J – 1 de la réalisation de la prestation : Annulation possible. Les
                            frais d’annulation s’élèvent dans ce cas à 30% du montant total de la commande*.
                        </li>
                        <li>Le jour J de la réalisation de la commande : la commande devient définitivement non
                            annulable et aucun remboursement n’est possible
                        </li>
                    </ul>
                    <div><u>* Les frais bancaires résultant d'un remboursement après un paiement par carte de crédit
                            sont à la charge du passager</u></div>
                    <br><br>
                    <h2>XI. Validité et contrôle des titres de transport</h2>
                    <br><br>
                    <div><p class="text-justify">Le document de confirmation d’une commande édité en ligne ou fourni par
                            un agent de réservation est équivalent à un titre de transport donnant droit au passager
                            d’accéder aux services de transferts organisés par NDV</p></div>
                    <div><p class="text-justify">Le passager est tenu à présenter son titre de transport au conducteur
                            avant de monter à bord du véhicule. Il doit garder ce document et le présenter lors de tout
                            contrôle effectué par les agents de NDV tout agent de contrôle de NDV durant le trajet du
                            transfert ou à l’arrivée ou au départ de l’aéroport Paris Vatry. A défaut de présentation du
                            titre,tout voyageur se trouvant en situation irrégulière sera passible d’une amende dont le
                            montant est défini par les textes réglementaires en vigueur et dont les modalités sont
                            conformes au Code du Procédure Pénal (art. 529-3 et s).</p></div>
                    <br><br>
                    <h2>XII. Réalisation des prestations terrestres</h2>
                    <br><br>
                    <div><p class="text-justify">Tous les services commandés par les clients sont exécutés par des
                            transporteurs partenaires. NDV s’engage à veiller à la conformité des prestations offertes
                            avec les services commandés.</p></div>
                    <div><p class="text-justify">Le bon déroulement des transferts commandés et la sécurité des clients
                            durant le trajet relèvent de la seule responsabilité du transporteur partenaire. Seul le
                            transporteur est responsable de tout retard du chauffeur et du dommage né de l’inexécution
                            ou de la mauvaise exécution du transfert. Le transporteur est tenu à souscrire les
                            assurances compatibles avec l’exercice du transport des passagers.</p></div>
                    <br><br>
                    <h2>XIII. Transport des personnes à mobilité réduite</h2>
                    <br><br>
                    <div><p class="text-justify">NDV garanti l’accès des passagers ayant commandé des transferts dans
                            l’un de ses supports de vente à tous ses services de transfert et ce sans discrimination
                            physique. Néanmoins, les véhicules des transporteurs partenaires ne sont pas tous équipés de
                            dispositifs dédiés aux personnes à mobilité réduite, notamment en fauteuil électrique. De ce
                            fait, le transport de personnes à mobilité réduite s’effectue généralement aux mêmes
                            conditions que tous les passagers de NDV.</p></div>
                    <br><br>
                    <h2>XIV. Transport des animaux</h2>
                    <br><br>
                    <div><p class="text-justify">Le transport des animaux domestiques est accepté sans frais
                            supplémentaires dans les véhicules assurant les transferts des passagers à condition que
                            leurs poids ne dépassent pas les 5 kg. Ils doivent être transportés sur les genoux dans des
                            cages de voyage de dimensions maximales 45 cm x 30 cm x 25 cm.</p></div>
                    <br><br>
                    <h2>XV. Bagages</h2><br><br>
                    <div><p class="text-justify">Le nombre maximal de bagages autorisés pour les passagers est de 2
                            bagages par passager. Chacun des bagages ne doit pas dépasser 20 kg. 1 bagage à main par
                            passager est toléré au bord du véhicule. Les poussettes sont transportées gratuitement dans
                            la limite d’une poussette par commande. Nous recommandons aux passagers d’étiqueter et
                            d’identifier les bagages placés dans les coffres ou dans les soutes des véhicules.</p></div>
                    <div><p class="text-justify">Le passager doit garder ses objets de valeur (espèces, bijoux, …) et
                            ses documents importants dans son sac à main durant tout le trajet du transfert. NDV et les
                            transporteurs partenaires n’assument aucune responsabilité pour tout objet perdu ou
                            endommagé au cours du trajet du transfert.</p></div>
                    <div><p class="text-justify">A la fin du transport, le passager est tenu de s’assurer qu’aucun
                            bagage, objet ou effet personnel n’est oublié à bord.</p></div>
                    <div>Objets trouvés : Les objets trouvés dans les véhicules, à l'exception des matières dangereuses
                        et périssables, sont conservés dans les locaux de NDV pendant 2 mois. Ils sont restitués sur
                        place à leur propriétaire sur présentation d'une pièce d'identité.
                    </div>
                    <br><br>
                    <h2>XVI. Obligations des passagers</h2><br><br>
                    <div><p class="text-justify">Le passager est tenu à avoir un comportement respectueux au bord du
                            véhicule. Il est strictement interdit de manger, de boire de l’alcool ou de fumer durant
                            tout le trajet. Maintenir la propreté du véhicule est une obligation pour tout passager et
                            la dégradation ou la détérioration du véhicule donne le plein droit à NDV et au transporteur
                            partenaire d’attaquer le passager en justice.</p></div>
                    <div><p class="text-justify">Le port de la ceinture de sécurité est obligatoire pour le passager. En
                            cas de manquement à cette obligation, le conducteur du véhicule et NDV se désengage de toute
                            responsabilité et le passager assume seul toute poursuite pénale.</p></div>
                    <div><p class="text-justify">Pour des raisons de sécurité, il est interdit de fumer et de
                            transporter des substances inflammables, explosives, corrosives ou toxiques. Le non-respect
                            de cette stipulation engage la responsabilité du Client et du passager. NDV et le
                            transporteur partenaire se réservent le droit de tout éventuel recours.</p></div>
                    <br><br>
                    <h2>XVII. Droit de refuser un transport</h2><br><br>
                    <div><p class="text-justify">Tout manquement par le passager aux conditions d’accès, de bagages ou
                            des obligations au cours du transfert décrites par les articles (XI, XIV, XV et XVI) donne
                            le droit au transporteur partenaire de refuser son accès à bord ou de l’inviter à quitter le
                            véhicule. L’état physique et mental y compris un état causé par la consommation d’alcool ou
                            la prise de drogue, ou de médicaments peuvent justifier la décision du conducteur de
                            restreindre l’accès au passager.</p></div>
                    <br><br>
                    <h2>XVIII. Droits des passagers en cas d’annulation ou de retard du transfert</h2>
                    <br><br>
                    <div><p class="text-justify">Toute annulation d’un transfert ou non réalisation d’une prestation
                            pour non présentation du conducteur donne droit au client au remboursement intégral du
                            montant de la commande. Le passager est tenu à appeler le service d’assistance de NDV en cas
                            de retard du conducteur et la confirmation de non réalisation du transfert par le service
                            d’assistance, une condition préalable à tout remboursement de la commande.</p></div>
                    <div><p class="text-justify">Sauf cause majeure (intempéries, catastrophes naturelles, incendies,
                            inondations, conditions de circulation particulièrement difficiles ou perturbées, accident,
                            manifestations, etc.)NDV s’engage à dédommager le passager la pénalité exigée par la
                            compagnie aérienne suite au report du vol.</p></div>
                    <br><br>
                    <h2>XIX. Assistance aux passagers. Réclamations. </h2><br><br>
                    <div><p class="text-justify">NDV met à disposition de ses passagers et de ses clients un numéro du
                            service client qui permet d’assurer un service d’assistance avant et pendant le trajet du
                            transfert. Le numéro de contact est indiqué dans le document de confirmation de la
                            commande.</p></div>
                    <div><p class="text-justify">Toute réclamation doit être adressée par courrier recommandé avec
                            accusé de réception à l’adresse suivante : Navette de Vatry, SEVE Aéroport Paris Vatry, rue
                            Louis Blériot CS 90006 Bussy Lettrée 51555 Chalons en Champagne Cedex. Elle doit être
                            accompagnée du document de confirmation de la commande et autres justificatifs et doit être
                            effectuée dans un délai de trente (30) jours à compter de la date à laquelle le voyage a été
                            effectué ou aurait dû être exécuté. Aucune réclamation ne sera traitée par téléphone.</p>
                    </div>
                    <br><br>
                    <h2>XX. Assurances</h2> <br><br>
                    <div><p class="text-justify">Tous les véhicules des transporteurs partenaires de NDV, exécutant ses
                            services sont couverts par des assurances permettent la couverture.La société NDV est
                            couverte d’une assurance garantissant l’exécution. La réalisation des commandes
                            confirméessont couvertes pour l'intégralité des dommages corporels, matériels et immatériels
                            qu'ils pourraient subir consécutivement à un accident de la circulation et ce de façon
                            illimitée pour les dommages corporels, depuis la montée dans le Véhicule jusqu'à la
                            descente, à l'exception des dommages causés par leur faute.</p></div>
                    <div><p class="text-justify">Des assurances optionnelles sont proposées aux clients au moment de la
                            prise de la commande de transfert. Les assurances proposées sont</p></div>
                    <ul>
                        <li>Assurance Annulation : Permet le remboursement du montant de la commande en cas d’annulation
                            pendant les périodes où le client ne peux bénéficier au mieux que d’une remboursement
                            partiel telle que défini dans l’article (X).
                        </li>
                        <li>Assurance bagages : Cette assurance permet au passager d’être dédommagé en cas de perte ou
                            de détérioration de ses bagages.
                        </li>
                        <li>Assurance multirisque : permet la couverture des risques d’annulation des commandes, de
                            perte ou de détérioration des bagages ou de dégâts matériels ou corporels causés par faute
                            du passager.
                        </li>
                    </ul>
                    <br><br>
                    <h2>XXI. Informatique et données personnelles</h2><br><br>
                    <div><p class="text-justify">Les présentes Conditions Générales sont soumises aux dispositions de la
                            loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.Le
                            traitement automatisé des données nominatives réalisées par l'Application et / ou le site
                            Internet de la Société a été déclaré à la Commission Nationale de l'Informatique et des
                            Libertés (CNIL).</p></div>
                    <div><p class="text-justify">Ces données sont destinées au traitement des commandes des clients et à
                            l'exécution des services commandés. Elles seront transmises aux transporteurs intervenant
                            dans la réalisation des services.</p></div>
                    <div><p class="text-justify">NDV informe le passager que les données collectées lors de
                            l’enregistrement de la commande et seront communiquées à des tiers (transporteurs, …) pour
                            des besoins opérationnels. Le client accepte que NDV conserve, à des fins de preuve,
                            l’ensemble des informations relatives aux commandes effectuées, telles que les données
                            relatives au transfert </p></div>
                    <div><p class="text-justify">Le Client dispose d’un droit d’accès, de rectification et de
                            suppression des données à caractère personnel le concernant grâce à son espace client. Il
                            dispose aussi du droit d'opposition, par mail ou par courrier, au transfert de ses
                            informations personnelles à des tiers à des fins de prospection commerciale.</p></div>
                    <div><p class="text-justify">Déclaration en matière de confidentialité et de cookies : NDV collecte
                            et traite les informations à caractère personnel des visiteurs du site web de NDVafin
                            d’améliorer les services proposés en ligne et améliorer leurs accès aux services. Les
                            cookies utilisés sont :</p></div>
                    <ul>
                        <li>Les cookies basiques permettant aux visiteurs du site de naviguer sur le site et d’utiliser
                            les fonctionnalités de base.
                        </li>
                        <li>Les cookies de fonctionnalité permettant d’identifier les clients de NDV afin de leurs
                            proposer les nouveaux services.
                        </li>
                        <li>Les cookies de performance/analytiques nous permettent de reconnaître et de compter le
                            nombre de visiteurs ainsi que de recueillir des informations concernant l'utilisation du
                            site.
                        </li>
                        <li>Les cookies de ciblage ou publicitaires enregistrent la visite des clients sur le site de
                            NDV, ainsi que les pages qu’ils consultent fréquemment ainsi que et les liens qu’ils
                            suivent.
                        </li>
                    </ul>
                    <br><br>
                    <h2>XXII. Modification des CGV</h2><br><br>
                    <div><p class="text-justify">NDV se réserve la possibilité de modifier les présentes Conditions
                            générales, et ce sans préavis.</p></div>
                    <br><br>
                    <h2>XXIII. Loi applicable – juridiction</h2><br><br>
                    <div><p class="text-justify">Les présentes CGV et plus généralement le contrat conclu avec NDV sont
                            soumis au droit français. Tout litige relatif à leur interprétation et/ou à leur exécution
                            relève des tribunaux français.</p></div>
                    <br><br>
                    <h2>XXIV. Dispositions invalides</h2><br><br>
                    <div><p class="text-justify">Si une disposition quelconque des présentes conditions particulières de
                            transport s'avérait totalement ou partiellement invalide ou nulle, cela n'affecte en rien la
                            validité du contrat de transport.</p>
                    </div>


                </div>
                <!--- //Content -->

            </div>
        </div>
    </main>
    <!-- //Main -->
{% endblock %}